<link rel="stylesheet" type="text/css" href="/css/style.css" />
<link rel="stylesheet" type="text/css" href="/css/nav.css" />
<nav class="bg-gray-navbar flex justify-between mb-3 navbar-expand-lg px-2 py-3">
    <a class="text-3xl px-6 font-sans font-bold text-white" href="/home">
        Linux Rice
    </a>
    <ul class="flex flex-col lg:flex-row list-none ml-auto">
        </li>
        <li class="nav-item">
            <a id="img" href="/settings/profile"></a>
        </li>
    </ul>
</nav>