<link rel="stylesheet" type="text/css" href="/css/style.css" />
<link rel="stylesheet" type="text/css" href="/css/settings.css" />

<div id="mainRec">
    <a id="userPic"></a>
    <a id="username"><%= user.name %></a>
    <a id="vector"></a>
    <a id="profile" href="/settings/profile" >Profile</a>
    <a id="vector2"></a>
    <a id="account" href="/settings/account" >Account</a>
    <a id="vector3"></a>
    <a id="settings" href="/settings/preferences">Preferences</a>
    <a id="vector4"></a>
</div>