<%- include ('./partials/header') %>
<%- include ('./partials/mainNav') %> 
<link rel="stylesheet" type="text/css" href="/css/style.css" />
<link rel="stylesheet" type="text/css" href="/css/home.css" />
<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.css">
<link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">

<script src="https://unpkg.com/swiper/swiper-bundle.js"></script>
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

<form id="form1" action="/home" method="POST">
	<label class="text-3xl font-semibold">Give a name to your script</label><br><br>
	<input id="script" name="script" class="mt-2 w-full bg-gray-900 px-4 py-3 rounded-md appearance-none border border-gray-600  transition duration-200 ease-in-out focus:bg-gray-700 min-w-0" type="text"><br><br>
	
	<label class="text-3xl font-semibold">Select the plugins you want to use</label><br><br>
		<input id="autojump" name="autojump"  type="checkbox" class="appearance-none rounded checked:bg-blue-600 checked:border-transparent">
		<a class="text-xl font-medium">autojump faster cd</a><br>

		<input id="autocompletion" name="autocompletion" type="checkbox" class="appearance-none rounded checked:bg-blue-600 checked:border-transparent">
		<a class="text-xl font-medium">autocompletion</a><br>

		<input id="synthax" name="synthax" type="checkbox" class="appearance-none rounded checked:bg-blue-600 checked:border-transparent">
		<a class="text-xl font-medium">synthax highlighting</a><br><br>

	<label class="text-3xl font-semibold">Select the theme you want to use</label><br><br>
		
		<div class="swiper-container h-64">
		<!-- Additional required wrapper -->
		<div class="swiper-wrapper">
			<!-- Slides -->
			<div class="swiper-slide">
				<img src="https://zshthem.es/img/screenshots/af-magic.png">
			</div>
			<div class="swiper-slide">
				<img src="https://zshthem.es/img/screenshots/fino.png">
			</div>
			<div class="swiper-slide">
				<img src="https://zshthem.es/img/screenshots/gozilla.png">
			</div>
		</div>
		</div><br><br>

		<input type="hidden" id="imgSlct" name="imgSlct" value="0">

	<button type="submit" onclick="updateIndex()" class="btn py-2 px-3 bg-green-500 hover:bg-green-600 focus:ring-2 ring-green-300 focus:outline-none text-white rounded">Generate script</button>
</form>


<script>
  var mySwiper = new Swiper ('.swiper-container');

  function updateIndex() {
	  document.getElementById("imgSlct").value = mySwiper.realIndex;
  }
</script>