<%- include ('./partials/header') %>
<%- include ('./partials/navbar') %>
<link rel="stylesheet" type="text/css" href="/css/style.css" />
<link rel="stylesheet" type="text/css" href="/css/welcome.css" />

<h1 id="title" class="font-sans font-bold text-gray-300">Design your own Linux Desktop</h1>
<h2 id="subtitle" class="font-sans text-blue-600 font-bold">Linux Rice enables you to easily create your dreamed Linux desktop</h2>
<p id="text" class="font-sans text-gray-300">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
<a id="buttonContinue" class="font-sans font-bold text-gray-300 hover:opacity-75" href="/users/register">Start using Linux Rice</a>
<a id="img"></a>