#userPic {
    position: absolute;
    width: 39px;
    height: 39px;
    left: 12px;
    top: 11px;
    border-radius: 0px;
    

    background: url("../assets/Ellipse1.png");
}

#profile {
    position: absolute;
    width: 63px;
    height: 23px;
    left: 16px;
    top: 80px;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;

    color: #C9D1D9;
}

#account {
    position: absolute;
    width: 75px;
    height: 23px;
    left: 16px;
    top: 134px;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;

    color: #C9D1D9;
}

#settings {
    position: absolute;
    width: 75px;
    height: 23px;
    left: 16px;
    top: 183px;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;

    color: #C9D1D9;
}

#username {
    position: absolute;
    width: 117px;
    height: 35px;
    left: 72px;
    top: 19px;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;

    color: #C9D1D9;
}

#mainRec {
    position: absolute;
    width: 200px;
    height: 215px;
    left: 462px;
    top: 92px;

    border: 1px solid #30363D;
    box-sizing: border-box;
    border-radius: 7px;
}

#vector{
    position: absolute;
    width: 199px;
    height: 0px;
    left: 0px;
    top: 64px;
    
    border: 1px solid #30363D;
}

#vector2{
    position: absolute;
    width: 199px;
    height: 0px;
    left: 0px;
    top: 118px;

    border: 1px solid #30363D;
}

#vector3{
    position: absolute;
    width: 199px;
    height: 0px;
    left: 0px;
    top: 170px;

    border: 1px solid #30363D;
}

#vector4{
    position: absolute;
    width: 197.5px;
    height: 0px;
    left: 2px;
    top: 118px;
    
    border: 1px solid #30363D; 
}